In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from pandas.core.common import random_state
from sklearn.linear_model import LinearRegression

In [106]:
df = pd.read_csv('/Users/hemanthsai/Downloads/archive/clean_dataset.csv')

In [107]:
df

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,1,21.08,10.085,0,0,Education,Black,1.25,0,0,0,0,ByBirth,260,0,0
686,0,22.67,0.750,1,1,Energy,White,2.00,0,1,2,1,ByBirth,200,394,0
687,0,25.25,13.500,0,0,Healthcare,Latino,2.00,0,1,1,1,ByBirth,200,1,0
688,1,17.92,0.205,1,1,ConsumerStaples,White,0.04,0,0,0,0,ByBirth,280,750,0
689,1,35.00,3.375,1,1,Energy,Black,8.29,0,0,0,1,ByBirth,0,0,0

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    int64
 1   Age             690 non-null    float64
 2   Debt            690 non-null    float64
 3   Married         690 non-null    int64
 4   BankCustomer    690 non-null    int64
 5   Industry        690 non-null    object
 6   Ethnicity       690 non-null    object
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    int64
 9   Employed        690 non-null    int64
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    int64
 12  Citizen         690 non-null    object
 13  ZipCode         690 non-null    int64
 14  Income          690 non-null    int64
 15  Approved        690 non-null    int64
dtypes: float64(3), int64(10), object(3)
memory usage: 86.4+ KB

In [109]:
categorical_cols = ['Industry', 'Ethnicity', 'Citizen']
df[categorical_cols] = df[categorical_cols].apply(lambda x: x.astype('category').cat.codes)

In [110]:
df

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,7,4,1.25,1,1,1,0,0,202,0,1
1,0,58.67,4.460,1,1,9,1,3.04,1,1,6,0,0,43,560,1
2,0,24.50,0.500,1,1,9,1,1.50,1,0,0,0,0,280,824,1
3,1,27.83,1.540,1,1,7,4,3.75,1,1,5,1,0,100,3,1
4,1,20.17,5.625,1,1,7,4,1.71,1,0,0,0,1,120,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,1,21.08,10.085,0,0,3,1,1.25,0,0,0,0,0,260,0,0
686,0,22.67,0.750,1,1,4,4,2.00,0,1,2,1,0,200,394,0
687,0,25.25,13.500,0,0,6,2,2.00,0,1,1,1,0,200,1,0
688,1,17.92,0.205,1,1,2,4,0.04,0,0,0,0,0,280,750,0
689,1,35.00,3.375,1,1,4,1,8.29,0,0,0,1,0,0,0,0

In [111]:
df = df.astype('object')

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    object
 1   Age             690 non-null    object
 2   Debt            690 non-null    object
 3   Married         690 non-null    object
 4   BankCustomer    690 non-null    object
 5   Industry        690 non-null    object
 6   Ethnicity       690 non-null    object
 7   YearsEmployed   690 non-null    object
 8   PriorDefault    690 non-null    object
 9   Employed        690 non-null    object
 10  CreditScore     690 non-null    object
 11  DriversLicense  690 non-null    object
 12  Citizen         690 non-null    object
 13  ZipCode         690 non-null    object
 14  Income          690 non-null    object
 15  Approved        690 non-null    object
dtypes: object(16)
memory usage: 86.4+ KB

In [113]:
df

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.0,1,1,7,4,1.25,1,1,1,0,0,202,0,1
1,0,58.67,4.46,1,1,9,1,3.04,1,1,6,0,0,43,560,1
2,0,24.5,0.5,1,1,9,1,1.5,1,0,0,0,0,280,824,1
3,1,27.83,1.54,1,1,7,4,3.75,1,1,5,1,0,100,3,1
4,1,20.17,5.625,1,1,7,4,1.71,1,0,0,0,1,120,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,1,21.08,10.085,0,0,3,1,1.25,0,0,0,0,0,260,0,0
686,0,22.67,0.75,1,1,4,4,2.0,0,1,2,1,0,200,394,0
687,0,25.25,13.5,0,0,6,2,2.0,0,1,1,1,0,200,1,0
688,1,17.92,0.205,1,1,2,4,0.04,0,0,0,0,0,280,750,0
689,1,35.0,3.375,1,1,4,1,8.29,0,0,0,1,0,0,0,0

In [115]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score, classification_report

# Assuming 'df' is your DataFrame and 'Approved' is the target variable
# Define features (X) and target variable (y)
X = df.drop(columns=['Approved'])  # All columns except 'Approved'
y = df['Approved'].astype(int)  # Ensure target variable is of integer type

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Linear Regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Convert predictions to binary (0 or 1) based on a threshold
y_pred_binary = (y_pred >= 0.5).astype(int)

# Calculate performance metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred_binary)

# Print the results
print(f"Mean Squared Error: {mse}")
print(f"R^2 Score: {r2}")
print(f"Accuracy Score: {accuracy}")
print("\nClassification Report:")
print(classification_report(y_test, y_pred_binary))

Mean Squared Error: 0.17162677801567378
R^2 Score: 0.3133486637540984
Accuracy Score: 0.8260869565217391

Classification Report:
              precision    recall  f1-score   support

           0       0.87      0.76      0.81        68
           1       0.79      0.89      0.84        70

    accuracy                           0.83       138
   macro avg       0.83      0.83      0.83       138
weighted avg       0.83      0.83      0.83       138

In [116]:
def get_user_input():
    user_data = []
    print("Please enter the following details:")
    for column in column_names:
        value = input(f"{column}: ")
        user_data.append(float(value))  # Convert to float or int as needed
    return np.array(user_data).reshape(1, -1)  # Reshape for model prediction

# Assuming 'model' is your trained Linear Regression model
# Get user input
input_data = get_user_input()

# Predict using the trained model
predicted_output = model.predict(input_data)

# Convert the prediction to binary (0 or 1)
predicted_class = int(predicted_output[0] >= 0.5)

# Print the predicted output
print(f"The predicted output (Approved): {predicted_class}")

Please enter the following details:
Gender: 1
Age: 30
Debt: 0
Married: 1
BankCustomer: 1
Industry: 2
Ethnicity: 2
YearsEmployed: 12
PriorDefault: 0
Employed: 1
CreditScore: 6
DriversLicense: 1
Citizen: 1
ZipCode: 202
Income: 750
The predicted output (Approved): 0

/Users/hemanthsai/anaconda3/lib/python3.10/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [117]:
model = DecisionTreeClassifier(random_state=42)

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate performance metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)

# Print the results
print(f"Mean Squared Error: {mse}")
print(f"R^2 Score: {r2}")
print(f"Accuracy Score: {accuracy}")
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Mean Squared Error: 0.2318840579710145
R^2 Score: 0.07226890756302518
Accuracy Score: 0.7681159420289855

Classification Report:
              precision    recall  f1-score   support

           0       0.74      0.82      0.78        68
           1       0.81      0.71      0.76        70

    accuracy                           0.77       138
   macro avg       0.77      0.77      0.77       138
weighted avg       0.77      0.77      0.77       138

In [118]:
def get_user_input():
    user_data = []
    print("Please enter the following details:")
    for column in column_names:
        value = input(f"{column}: ")
        user_data.append(float(value))  # Convert to float or int as needed
    return np.array(user_data).reshape(1, -1)  # Reshape for model prediction

# Assuming 'model' is your trained Decision Tree model
# Get user input
input_data = get_user_input()

# Predict using the trained model
predicted_output = model.predict(input_data)

# Print the predicted output
print(f"The predicted output (Approved): {predicted_output[0]}")

Please enter the following details:
Gender: 1
Age: 22
Debt: 0
Married: 1
BankCustomer: 1
Industry: 2
Ethnicity: 1
YearsEmployed: 30
PriorDefault: 1
Employed: 1
CreditScore: 100
DriversLicense: 1
Citizen: 1
ZipCode: 22
Income: 1500
The predicted output (Approved): 1

/Users/hemanthsai/anaconda3/lib/python3.10/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(